@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family:"Poppins" ;
}

.input-container{
  margin-top: 50px ;
  margin-left: 350px;
  margin-right: 350px;
  display: flex;
  background-color: rgba(238, 10, 10, 0.982);
  padding: 24px 24px;
  place-items: center;
  min-width: 320px;
  min-height: 60vh;
  border-radius: 20px;
}

.input-container input {
  display: flex;
  justify-content: center;
  padding: 12px 60px;
  width: 150%;
  margin: 20px;
}

.submit{
  margin-left: 8px;
  padding: 8px 12px;
}

.submit select{
  padding: 7px;
  display: flex;
  place-items: left;
  border: none;
}

.btn{
  margin-top: 20px;
  padding: 8px 12px;
  background-color: royalblue;
  border: none;
  border-radius: 20px;
  text-transform: uppercase ;
  color: aliceblue;
}
.btn:hover{
  background-color: rgb(22, 80, 251);
}

.task-banner{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 30px;
  margin-top: 40px;
  margin-bottom: 20px;
  padding: 20px 20px 20px 20px;

}

.container-card{
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-image: radial-gradient( circle 897px at 9% 80.3%,  rgba(55,60,245,1) 0%, rgba(234,161,15,0.90) 100.2% );
  color: white;
  padding: 20px;
  border-radius: 20px;
  min-height: 250px;
  min-width: 300px;
  max-width: 350px;
}

.card-title{
  font-family: "Poppins";
  font-weight: 400;
}

.edit-btn{
  width: 30%;
  border: none;
  padding: 5px;
  background-color: royalblue;
  color: aliceblue;
  border-radius: 8px;
  text-transform: uppercase;
}
.delete-btn{
  width: 30%;
  background-color: red;
  border: none;
  padding: 5px;
  color: aliceblue;
  border-radius: 8px;
  text-transform: uppercase;
}

.scroll-btn{
  background-color: gray;
 padding: 5px;
 margin: 20px;
}
.title{
  text-align: center;
  padding: 20px ;
} 
